.business{
  background-image: url('/img/main/business-backgroud.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 160px;
  font-family: 'Montserrat';
  
  &-container{
    width: 90%;
    margin: 0 auto;
  } 

  &-data{

    display: flex;
    align-items: center;

    &-box{

    }

    &__title{
      font-family: 'STIX Two Text';
      font-size: 38px;
      margin-bottom: 16px;
    }

    &__text{
      color: rgba(138, 138, 138, 1);
      font-weight: 500;
      max-width: 700px;
      line-height: 25.6px;
    }

  }

}