
.question{
  background-image: url('/img/main/backgroud_red.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: 'Montserrat';
  padding-top: 160px;
  padding-bottom: 160px;
  
  &-container{
    width: 90%;
    margin: 0 auto;
  }

  &-fluid{
    max-width: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
  }

  &__title{
    font-family: 'STIX Two Text';
    text-align: left !important;
    font-size: 38px;
    font-weight: 400;
    margin-bottom: 16px;
    display: inline-block;
  }
  
  &__text{
    text-align: left !important;
    font-weight: 500;
    margin-bottom: 50px;
    display: flex;
    justify-content: start;
    opacity: 0.75;  
  }

  &-flexbox{
    display: flex;
    justify-content: center;
  }

  &-box{
    max-width: 1041px;
    width: 100%;
    background-color: black;
    padding: 40px;
    border-radius: 10px;

    &-upper{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 30px;

      &__title{
        font-size: 24px;
        font-weight: 500;
      }

      &__text{
        font-size: 36px;
        font-family: 'STIX Two Text';
        font-weight: 500;
      }

    }

    &-body{ 
      width: 1041px;
      display: flex;
      flex-wrap: wrap;


      &_card{
        padding: 18px 20px;
        background-color: rgba(255, 255, 255, 0.12);
        margin-bottom: 15px;
        margin-left: 20px;  
        gap: 8px;
        display: inline-block;
        align-items: center;
        justify-content: center;

        &:nth-child(odd){
          margin-left: 0;
        }

        &__text{
          width: 433px;
          font-size: 16px;
          font-weight: 500;
          line-height: 25.6px;
        }

    }

    }
   &-footer{
      display: flex;
      justify-content: space-between;

      &__link1{
        margin-left: 20px;
        text-decoration: none;
        color: rgba(218, 69, 51, 1);
        font-weight: 500;
        display: inline-block;
        border: solid 1px rgba(218, 69, 51, 1);
        border-radius: 50%;
        padding: 9px 22px 12px 21px;
        position: relative;
        
        &-arrow{
          position: absolute;
          left: -15px;
          top: 15px;
        }  

      }
      

      &__link2{
        margin-left: 20px;
        text-decoration: none;
        color: rgba(218, 69, 51, 1);
        font-weight: 500;
        display: inline-block;
        border: solid 1px rgba(218, 69, 51, 1);
        border-radius: 50%;
        padding: 9px 22px 12px 21px;
        position: relative;

        &-arrow{
          position: absolute;
          right: -15px;
          top: 15px;
        }  
      }
    }    
  }

  &__text2{
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 25px;
  }
  
  &-cards{
    display: flex;
    align-items: center;

    &_card{
      background-color: black;
      padding: 15px;
      @include flex;
      border-radius: 10px;
      margin-left: 20px;

      &:first-child{
        margin-left: 0;
      }

      &__img{
        margin-right: 31px;
      }

    }

  }

}

@media screen and (max-width:1120px) {

  .question-box-upper__text{
    display: none;
  }

  .question-box{
    max-width: 1000px;
  }  

  .question-fluid{
    display: flex;
    justify-content: center;
  }

  .question-box-body{
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    width: 800px;    

    &_card{
      width: 680px;

      &:nth-child(even){
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}

@media screen and (max-width:930px) {

  .question-box{
    max-width: 800px;
    width: 100%;
  }  

  .question-box-body{
    flex-direction: column; 
    width: 680px;    

    &_card{
      width: 680px;
      padding-right: 0;

      &__text{
        display: inline-block;
      }

    }
  }
}

@media screen and (max-width:800px) {

  .question-box{
    max-width: 600px;
  }  

  .question-box-body{
    flex-direction: column; 
    width: 500px;    

    &_card{
      width: 400px;
    }
  }
}

@media screen and (max-width:800px) {

  .question-box-body_card__text{
    width: 400px;
  }

  .question-box{
     max-width: 600px;
  }  

  .question-box-body{
    flex-direction: column; 
    width: 500px;    

    &_card{
      width: 400px;
    }
  }
}


@media screen and (max-width:610px) {

  .question-fluid{
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .question-box{
     max-width: 500px;
  }  

  .question-box-body{
    flex-direction: column; 
    justify-content: center;
    align-items: center;

    &_card{
      width: 340px;
    }
  }

  .question-cards{
    flex-direction: column;
    
    &_card{
      width: 300px;
      margin-bottom: 20px;

      &:last-child{
        margin-left: 0;
      }
    }
  }
}




@media screen and (max-width:594px) {

  .question-fluid{
    width: 260px;
  } 
 
  .question-box{
     max-width: 260px;
  }  

  .question-box-body{
    width: 0px;

    &_card{
      width: 200px;

      &__text{
        width: 100px;
      }

    }
  }

  .question-cards{
    flex-direction: column;
    
    &_card{
      width: 200px;
      margin-bottom: 20px;

      &:last-child{
        margin-left: 0;
      }
    }
  }
}

@media screen and (max-width:484px) {

  .question-fluid{
    width: 260px;
  } 
 
  .question-box{
     max-width: 300px;
  }  

  .question-box-body{
    width: 0px;

    &_card{
      width: 200px;

      &__text{
        width: 180px;
      }

    }
  }

  .question-box-footer__link1 , .question-box-footer__link2{
    display: none;
  }

  .question-cards_card__img{
    display: none;
  }

  .question-cards{
    flex-direction: column;
    
    &_card{
      width: 200px;
      margin-bottom: 20px;

      &:last-child{
        margin-left: 0;
      }
    }
  }
}